 @import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --hover-background-color: #18A0FB;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.slider-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
}

.image-slide-container {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: transform 1s ease;
}

.image-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    display:flex;
    flex-shrink: 0;
}

.title-slide {
    background-color: transparent;
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 10;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease-in;
}

.title-text {
    color: #fff;
    font-size: 4rem; 
}

.slider-buttons button{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    z-index: 100;
}

.slider-buttons button .arrow-color {
    font-weight: bold; 
}

.slider-buttons button:disabled{
    opacity: 0.9;
}

.slider-buttons button:disabled .arrow-color{
    color: gray;
}

.prev-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 50%;
    left: 20px;
}

.next-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 50%;
    right: 20px;
}

.nav-buttons-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 0.8rem 0 0.8rem;
    z-index: 100;
}

.nav-button.active,
.nav-button:hover {
    background-color: var(--hover-background-color);
}